$--primary: #8B0D32;
$--secondary: #B51042;
$--tertiary: #522432;
$--complementary: #EDB72D;
$bg: #cb869a;
$--grey-1: #413a3a;
$--grey-2: #5f5454;
$--grey-3: #877878;
$--grey-4: #b3b3b3;
$--white-1: #ffffff;
$--white-2: #f2f2f2;
