@import '../../utils/variables';
@import '../../utils/global';

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px 32px;
  color: $--grey-1;
  border-radius: 4px;
  background-color: $--white-1;  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  }

  &.is-clickable {
    cursor: pointer;
  }

  &-icon {
    display: flex;
    margin: 0 auto;
    padding: 8px;
    border-radius: 6px;
    background-color: $--primary;
  }

  &-buttoninput {
    width: 110px;

  }
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  input {
    width: 33.333%;
    margin-bottom: 0;
  }
}